# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [31]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [32]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We propose that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the proper test and, with 5% significance, comment your findings.

In [33]:
#code here

# We divide Dragon type pokemons and Grass type pokemons into different dataframes
dragon_hp = df[(df["Type 1"]=="Dragon") | (df["Type 2"]=="Dragon")]["HP"]
grass_hp = df[(df["Type 1"]=="Grass") | (df["Type 2"]=="Grass")]["HP"]

In [34]:
#Set hypothesis

#H0: mu dragon_hp <= mu grass_hp
#H1: mu dragon_hp > mu grass_hp

#Significance level -> 0.05
alpha = 0.05

In [35]:
stat, p_value = st.ttest_ind(dragon_hp, grass_hp, alternative="greater")
stat, p_value

(4.4991348531252635, 7.0097137393088205e-06)

In [36]:
if p_value > alpha:
    print("We are not able to reject the null hypothesis")
else:
    print("We reject the null hypothesis")

We reject the null hypothesis

Since the p_value is smaller than the alpha parameter, we reject the null hypothesis that 'Dragon' type Pokemon have on avergage, higher HP than 'Grass' type Pokemon.

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

- We are assuming that variance between the legendary and regular pokemon is NOT equal, because regular pokemon come in multiple levels of evolution, with higher evolutions being significantly more powerful than lower evolutions. On the other hand, legendary pokemon come in their highest form, and so we expect one legendary pokemon to be more comparable to another in terms of power.

In [37]:
#code here
alpha = 0.5 
# Divide Pokemon into legendary and non-legendary 
legendary_df = df[df['Legendary'] == True]
non_legendary_df = df[df['Legendary'] == False]

# Define columns to be compared
columns = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']

# Dictionary where we will store results of hypothesis testing
results = {}

# Iterate over every stat column and store the results
for column in columns:
    stat, p_value = st.ttest_ind(legendary_df[column], non_legendary_df[column], equal_var= False)
    results[column] = {'statistic': stat, 'p_value': p_value}
    
# Print results
for stat, result in results.items():
    print(f"{stat} - Statistic: {result['statistic']}, p-value: {result['p_value']}")
    if result['p_value'] > alpha:
        print("We are not able to reject the null hypothesis\n")
    else:
        print("We reject the null hypothesis\n")

HP - Statistic: 8.981370483625046, p-value: 1.0026911708035284e-13
We reject the null hypothesis

Attack - Statistic: 10.438133539322203, p-value: 2.520372449236646e-16
We reject the null hypothesis

Defense - Statistic: 7.637078164784618, p-value: 4.826998494919331e-11
We reject the null hypothesis

Sp. Atk - Statistic: 13.417449984138461, p-value: 1.5514614112239816e-21
We reject the null hypothesis

Sp. Def - Statistic: 10.015696613114878, p-value: 2.2949327864052826e-15
We reject the null hypothesis

Speed - Statistic: 11.47504444631443, p-value: 1.0490163118824507e-18
We reject the null hypothesis

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [38]:
housing_df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
housing_df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [62]:
# Function to calculate Euclidean distance
def euclidean_distance(x1, y1, x2, y2):
    """Calculates the Euclidean distance between two points

    Args:
        x1 (_type_): Longitude of first point
        y1 (_type_): Latitude of first point
        x2 (_type_): Longitude of second point
        y2 (_type_): Latitude of second point

    Returns:
       float: Returns the decimal distance between two points
    """
    x1 = x1 * np.cos(y1)
    x2 = x2 * np.cos(x2)  # uses longitude and latitude provided for school location data
    return np.sqrt((x1 - x2)**2 + (y1 - y2)**2)

# Coordinates of school and hospital
school_coords = (-118, 37)
hospital_coords = (-122, 34)

# Calculate distances
housing_df['distance_to_school'] = housing_df.apply(lambda row: euclidean_distance(row['longitude'], row['latitude'], school_coords[0], school_coords[1]), axis=1)
housing_df['distance_to_hospital'] = housing_df.apply(lambda row: euclidean_distance(row['longitude'], row['latitude'], hospital_coords[0], hospital_coords[1]), axis=1)

# Define proximity threshold
threshold = 0.50
    
# Classify houses as close or far
housing_df['close_to_school_or_hospital'] = (housing_df['distance_to_school'] < threshold) | (housing_df['distance_to_hospital'] < threshold)

In [58]:
# Split dataset into houses close and far from school or hospital
close_houses = housing_df[housing_df['close_to_school_or_hospital'] == True]['median_house_value']
far_houses = housing_df[housing_df['close_to_school_or_hospital'] == False]['median_house_value']

In [61]:
# Perform t-test
t_stat, p_value = st.ttest_ind(close_houses, far_houses)

# Define significance level
alpha = 0.05

# Print results
print("T-statistic:", t_stat)
print("P-value:", p_value)

if p_value > alpha:
    print("Fail to reject the null hypothesis: There is no significant difference in prices.")
else:
    print("Reject the null hypothesis: There is a significant difference in prices.")

T-statistic: -0.33846457225025617
P-value: 0.735017300967006
Fail to reject the null hypothesis: There is no significant difference in prices.