# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [5]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [8]:
from scipy import stats
grass_hp = df[df['Type 1'] == 'Grass']['HP']
dragon_hp = df[df['Type 1'] == 'Dragon']['HP']

# Perform Welch's t-test
t_stat, p_value = stats.ttest_ind(dragon_hp, grass_hp, equal_var=False, alternative='greater')

In [9]:
# Print the results
print(f"T-statistic: {t_stat}")
print(f"P-value: {p_value}")

# Decision based on p-value
if p_value < 0.05:
    print("We reject the null hypothesis. There is significant evidence that Dragon-type PokÃ©mon have higher average HP than Grass-type PokÃ©mon.")
else:
    print("We fail to reject the null hypothesis. There is not enough evidence to conclude that Dragon-type PokÃ©mon have higher average HP than Grass-type PokÃ©mon.")

T-statistic: 3.3349632905124063
P-value: 0.0007993609745420598
We reject the null hypothesis. There is significant evidence that Dragon-type PokÃ©mon have higher average HP than Grass-type PokÃ©mon.

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [10]:
legendary = df[df['Legendary'] == True]
non_legendary = df[df['Legendary'] == False]

In [11]:
stats_to_compare = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']
results = {}

In [12]:
for stat in stats_to_compare:
    t_stat, p_value = stats.ttest_ind(legendary[stat], non_legendary[stat], equal_var=False)
    results[stat] = (t_stat, p_value)

In [13]:
alpha_corrected = 0.05 / len(stats_to_compare)
for stat, (t_stat, p_value) in results.items():
    print(f"{stat}:")
    print(f"  T-statistic: {t_stat}")
    print(f"  P-value: {p_value}")
    if p_value < alpha_corrected:
        print(f"  We reject the null hypothesis for {stat}. There is significant evidence that Legendary PokÃ©mon have different {stat} compared to Non-Legendary PokÃ©mon.")
    else:
        print(f"  We fail to reject the null hypothesis for {stat}. There is not enough evidence to conclude that Legendary PokÃ©mon have different {stat} compared to Non-Legendary PokÃ©mon.")

HP:
  T-statistic: 8.981370483625046
  P-value: 1.0026911708035284e-13
  We reject the null hypothesis for HP. There is significant evidence that Legendary PokÃ©mon have different HP compared to Non-Legendary PokÃ©mon.
Attack:
  T-statistic: 10.438133539322203
  P-value: 2.520372449236646e-16
  We reject the null hypothesis for Attack. There is significant evidence that Legendary PokÃ©mon have different Attack compared to Non-Legendary PokÃ©mon.
Defense:
  T-statistic: 7.637078164784618
  P-value: 4.8269984949193316e-11
  We reject the null hypothesis for Defense. There is significant evidence that Legendary PokÃ©mon have different Defense compared to Non-Legendary PokÃ©mon.
Sp. Atk:
  T-statistic: 13.417449984138461
  P-value: 1.5514614112239812e-21
  We reject the null hypothesis for Sp. Atk. There is significant evidence that Legendary PokÃ©mon have different Sp. Atk compared to Non-Legendary PokÃ©mon.
Sp. Def:
  T-statistic: 10.015696613114878
  P-value: 2.2949327864052826e-15
  We reject the null hypothesis for Sp. Def. There is significant evidence that Legendary PokÃ©mon have different Sp. Def compared to Non-Legendary PokÃ©mon.
Speed:
  T-statistic: 11.47504444631443
  P-value: 1.049016311882451e-18
  We reject the null hypothesis for Speed. There is significant evidence that Legendary PokÃ©mon have different Speed compared to Non-Legendary PokÃ©mon.

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [14]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [15]:
# Coordinates of school and hospital
school_coords = (-118, 37)
hospital_coords = (-122, 34)

# Function to calculate Euclidean distance
def euclidean_distance(lon1, lat1, lon2, lat2):
    return np.sqrt((lon1 - lon2)**2 + (lat1 - lat2)**2)

# Calculate distances to school and hospital
df['distance_to_school'] = df.apply(lambda row: euclidean_distance(row['longitude'], row['latitude'], school_coords[0], school_coords[1]), axis=1)
df['distance_to_hospital'] = df.apply(lambda row: euclidean_distance(row['longitude'], row['latitude'], hospital_coords[0], hospital_coords[1]), axis=1)

# Determine if a house is close to a school or hospital
df['close_to_school_or_hospital'] = (df['distance_to_school'] < 0.50) | (df['distance_to_hospital'] < 0.50)

# Display the DataFrame with the new columns
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,distance_to_school,distance_to_hospital,close_to_school_or_hospital
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,4.638125,7.692347,False
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,4.384165,7.540617,False
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,4.773856,7.446456,False
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,4.801510,7.438716,False
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,4.850753,7.442432,False
...,...,...,...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0,7.211380,6.957298,False
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0,7.275232,7.064630,False
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0,7.944533,8.170410,False
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0,7.920227,8.132035,False
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0,7.270083,6.949396,False

In [16]:
close_group = df[df['close_to_school_or_hospital'] == True]
far_group = df[df['close_to_school_or_hospital'] == False]

In [17]:
# Perform Welch's t-test
t_stat, p_value = stats.ttest_ind(close_group['median_house_value'], far_group['median_house_value'], equal_var=False)

# Print the results
print(f"T-statistic: {t_stat}")
print(f"P-value: {p_value}")

# Decision based on p-value
alpha = 0.05
if p_value < alpha:
    print("We reject the null hypothesis. There is significant evidence that houses close to a school or hospital are more expensive.")
else:
    print("We fail to reject the null hypothesis. There is not enough evidence to conclude that houses close to a school or hospital are more expensive.")

T-statistic: -17.174167998688404
P-value: 5.220018561223529e-05
We reject the null hypothesis. There is significant evidence that houses close to a school or hospital are more expensive.