# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [109]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [110]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [111]:
dragon_hp = df[df['Type 1'] == 'Dragon']['HP']
grass_hp = df[df['Type 1'] == 'Grass']['HP']

In [112]:
st.ttest_ind(dragon_hp, grass_hp, equal_var=False)

TtestResult(statistic=3.3349632905124063, pvalue=0.0015987219490841192, df=50.83784116232685)

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [113]:
legendary = df[df['Legendary'] == True]
non_legend = df[df['Legendary'] == False]

In [114]:
from scipy import stats

t_stat_hp, p_value_hp = stats.ttest_ind(legendary['HP'], non_legend['HP'])
t_stat_attack, p_value_attack = stats.ttest_ind(legendary['Attack'], non_legend['Attack'])
t_stat_defense, p_value_defense = stats.ttest_ind(legendary['Defense'], non_legend['Defense'])

t_stat_atk, p_value_atk = stats.ttest_ind(legendary['Sp. Atk'], non_legend['Sp. Atk'])
t_stat_def, p_value_def = stats.ttest_ind(legendary['Sp. Def'], non_legend['Sp. Def'])
t_stat_speed, p_value_speed = stats.ttest_ind(legendary['Speed'], non_legend['Speed'])

print("HP - t-statistic:", t_stat_hp, "p-value:", p_value_hp)
print("Attack - t-statistic:", t_stat_attack, "p-value:", p_value_attack)
print("Defense - t-statistic:", t_stat_defense, "p-value:", p_value_defense)
print("Sp.Atk - t-statistic:", t_stat_atk, "p-value:", p_value_atk)
print("Sp.Def - t-statistic:", t_stat_def, "p-value:", p_value_def)
print("Speed - t-statistic:", t_stat_speed, "p-value:", p_value_speed)

HP - t-statistic: 8.036124405043928 p-value: 3.330647684846191e-15
Attack - t-statistic: 10.397321023700622 p-value: 7.827253003205333e-24
Defense - t-statistic: 7.181240122992339 p-value: 1.5842226094427255e-12
Sp.Atk - t-statistic: 14.191406210846289 p-value: 6.314915770427266e-41
Sp.Def - t-statistic: 11.03775106120522 p-value: 1.8439809580409594e-26
Speed - t-statistic: 9.765234331931898 p-value: 2.3540754436898437e-21

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [115]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [116]:
import numpy as np
from scipy.spatial import distance
from scipy.stats import ttest_ind

# Function to calculate Euclidean distance between two points
def euclidean_distance(point1, point2):
    return distance.euclidean(point1, point2)

# Coordinates of school and hospital
school_coords = (-118, 37)
hospital_coords = (-122, 34)

# Function to determine if a house is close to either a school or a hospital
def is_close_to_school_or_hospital(coords):
    distance_to_school = euclidean_distance(coords, school_coords)
    distance_to_hospital = euclidean_distance(coords, hospital_coords)
    return distance_to_school < 0.50 or distance_to_hospital < 0.50

# Apply the function to each house and create a new column indicating proximity to school/hospital
df['Close_to_school_or_hospital'] = df[['longitude', 'latitude']].apply(is_close_to_school_or_hospital, axis=1)

# Divide the dataset into two groups: houses close and far from either a school or a hospital
close_group = df[df['Close_to_school_or_hospital'] == True]
far_group = df[df['Close_to_school_or_hospital'] == False]

# Choose the appropriate test (e.g., two-sample t-test or Mann-Whitney U test)
# Here, we'll use a two-sample t-test assuming the housing prices are normally distributed

# Perform the t-test for housing prices between the two groups
t_statistic, p_value = ttest_ind(close_group['median_house_value'], far_group['median_house_value'])

# Comment on the findings
if p_value < 0.05:
    print("There is a significant difference in housing prices between houses close to either a school or a hospital and those far from both.")
else:
    print("There is no significant difference in housing prices between houses close to either a school or a hospital and those far from both.")

There is a significant difference in housing prices between houses close to either a school or a hospital and those far from both.